*,
*::after,
*::before {
  box-shadow: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
}
*:outline {
  outline: none;
  border: none;
  box-shadow: none;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

img{
  margin : 30px auto 10px;
  max-width: 500px;

}

.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

header {
  position: absolute;
  height: 70px;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: whitesmoke;
}
section {
  position: absolute;
  width: 100%;
}
form {
  margin: 5rem auto;
  width: 80%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
}
form input,
textarea {
  outline: none;
  border: none;
  padding: 0.8rem;
  border-radius: 7px;
  margin: 10px 0;
  padding: 1rem;
  background-color: #e7e7e7;
}

.radio {
  display: flex;
  width: 100%;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 10px 20px;
}

textarea {
  max-lines: 5;
}
form select {
  padding: 1rem;
  background-color: #e7e7e7;
  border-radius: 7px;
  margin: 10px 0;
}

form button {
  position: absolute;
  max-width: 8rem;
  padding: 0.8rem 1.4rem;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

hr {
  outline: none;
  border: none;
  margin: 3rem 0;
  border-bottom: 2px solid #f0f0f0;
}
form p {
  color: #252525;
  font-size: 1.2rem;
}
form span {
  color: #252525;
  font-size: 1.6rem;
  font-weight: 500;
}
.wrapper {
  display: none;
}
.logo {
  position: relative;
  left: 70px;
}
.logo span {
  color: #252525;
  font-weight: 500;
  font-size: 2rem;
}

.nav {
  position: absolute;
  right: 70px;
  display: flex;
  justify-content: space-around;
}

.navlink {
  list-style: none;
  margin: 0 auto;
  padding: 15px 0;
  cursor: pointer;
  font-size: 1.2rem;
}

@media screen and (min-width: 678px) {
  .navlink {
    background-color: #fff;
    border: 3px solid whitesmoke;
    padding: 1rem 1.4rem;
  }
}

.navlink:hover {
  background: rgb(245, 245, 245);
}
.burger {
  cursor: pointer;
  font-size: 0.8em;
  display: none;
  padding: 0;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

.cards {
  margin: 0 auto;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  max-width: 800px;
  justify-items: stretch;
  padding: 0 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* align-items: center; */
  padding-left: 12px;
  border: 2px solid #e7e7e7;
  border-radius: 4px;
  height: 200px;
}

.cards h4 {
  font-size: 1.2rem;
  color: white;
  margin: 0;
  padding: 0;
}
.cards h2 {
  font-size: 2.5rem;
  margin: 0;
  color: #fffafa;
  padding: 1.3rem 0;
}
.cards h5 {
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
  color: #f5fffa;
  font-weight: 300;
}
.cards .name {
  font-weight: 500;
  letter-spacing: 0.3em;
  margin-bottom: 1.5rem;
}

.blue {
  background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
}

.green {
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

.red {
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
}
.blue-text{
  color: #6e45e2;
}
.green-text{
  color: #43e97b;
}
.red-text{
  color: #ff0844;
}
.lines {
  color: #6d6e73;
  width: 90%;
  margin: 20px auto;
  text-align: justify;
  font-weight: 400;
  max-width: 750px;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

.search_categories {
  margin: 20px auto;
  max-width: 560px;
  font-size: 13px;
  background: #e7e7e7;
  border-radius: 3px;
  border-bottom: 2px solid #ccc;
  position: relative;
}

.search_categories .select select {
  background: transparent;
  line-height: 5;
  border: 0;
  padding: 10px;
  border-radius: 0;
  width: 100%;
  position: relative;
  z-index: 10;
  font-size: 1em;
  height: 40px;
  outline: none;
}
.loading {
  position: relative;
  padding: 0 auto;
  width: 100%;
  text-align: center;
  color: white;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

@media screen and (max-width: 380px) {
  .confirmed {
    display: none;
  }
}

@media screen and (max-width: 678px) {
  .burger {
    display: flex;
    position: relative;
    right: 5%;
    border: 1px solid #252525;
    border-radius: 3px;
    padding: 8px 16px;
    background: white;
    text-align: center;
    z-index: 25;
  }

  .radio {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .wrapper {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 400ms;
    opacity: 0;
    z-index: 18;
  }

  .wrapper-active {
    display: block;
    opacity: 1;
  }

  .logo {
    position: relative;
    left: 10%;
    font-size: 14px;
  }
  .nav {
    background-color: whitesmoke;
    position: absolute;
    left: -80%;
    top: 0;
    display: flex;
    padding: 40px 0;
    flex-direction: column;
    height: 100vh;
    width: 80%;
    transition: all 400ms;
    z-index: 20;
    justify-content: stretch;
  }
  .navlink {
    position: relative;
    list-style: none;
    font-size: 1.2rem;
    text-align: center;
    background-color: rgba(84, 84, 84, 0.1);
    color: #252525;
    font-weight: 1.5rem;
    font-size: 500;
    margin: 5px auto;
    width: 100%;
  }

  .nav-active {
    z-index: 20;
    transform: translateX(100%);
  }
  .nav-active:hover {
    color: #252525;
    background-color: whitesmoke;
    z-index: 20;
  }

  .search_categories {
    width: 60%;
    max-width: 250px;
  }
  .cards {
    display: flex;
    padding: 0 auto;
    flex-direction: column;
  }

  .card {
    max-width: 300px;
    min-width: 200px;
    margin: 10px auto;
  }
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
.table-heading {
  text-align: center;
  font-size: 2rem;
  letter-spacing: 0.3rem;
  margin: 1.2rem auto;
}
table {
  width: 90vw;
  text-align: center;
  border-collapse: collapse;
  max-width: 800px;
  margin: 20px auto;
}
table td,
table th {
  border: 3px solid #e7e7e7;
  padding: 4px 2px;
  width: 20%;
}
table tbody td {
  font-size: 1.2rem;
}

table tbody td:first-child {
  font-size: 1.3rem;
  font-weight: 400;
}

table thead th {
  text-align: center;
  font-size: 1.3rem;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
  /* background-image: linear-gradient(90deg, #fdfbfb 0%, #ebedee 100%);
     */

  color: rgb(255, 255, 255);
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

.faq {
  width: 80vw;
  margin: 5vh auto;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #b2b2b2;
  color: whitesmoke;
  cursor: pointer;
  padding: 18px;
  margin-top: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.qactive,
.collapsible:hover {
  background-color: #b2b2b2;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  display: none;
  padding: 2rem 18px;
  background-color: whitesmoke;
  transition: all 1s ease;
  transform: translateY(-100%);
}
.content-active {
  display: flex;
  transform: translateY(0%);
}

.collapsible::after {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #252525;
  float: right;
  margin-left: 5px;
}

.qactive:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
