*:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

header {
  position: relative;
  top: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(250, 250, 250);
  color: #232323;
}

.logo {
  position: relative;
  left: 100px;
}

.nav {
  position: relative;
  right: 100px;
  display: flex;
  justify-content: space-around;
}

.navlink {
  list-style: none;
  margin: 0;
  padding: 15px;
  cursor: pointer;
  max-width: 100px;
  max-height: 20px;
  text-align: justify;
  font-size: 14px;
  
}

.navlink:hover {
  background: rgb(245, 245, 245);
}
.burger {
  cursor: pointer;
  font-size: 0.8em;
  display: none;
  padding: 50px;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

.cards {
  margin: 0 auto;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  max-width: 800px;
  justify-items: stretch;
  padding: 0 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* align-items: center; */
  padding-left: 12px;
  border: 2px solid #e7e7e7;
  border-radius: 4px;
  height: 200px;
}

.cards h4 {
  color: white;
  margin: 0;
  padding: 0;
}
.cards h2 {
  margin: 0;
  color: #fffafa;
  padding: 15px 0;
}
.cards h5 {
  margin: 0;
  padding: 0;
  color: #f5fffa;
  font-weight: 300;
}
.cards .name {
  font-weight: 500;
  letter-spacing: 0.3em;
  margin-bottom: 15px;
}

.blue {
  background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
}

.green {
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

.red {
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
}

.lines {
  color: #6d6e73;
  width: 90%;
  margin: 20px auto;
  text-align: justify;
  font-weight: 400;
  max-width: 750px;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

.search_categories {
  margin: 20px auto;
  max-width: 560px;
  font-size: 13px;
  background: #e7e7e7;
  border-radius: 3px;
  border-bottom: 2px solid #ccc;
  position: relative;
}

.search_categories .select select {
  background: transparent;
  line-height: 5;
  border: 0;
  padding: 10px;
  border-radius: 0;
  width: 100%;
  position: relative;
  z-index: 10;
  font-size: 1em;
  height: 40px;
  outline: none;
}
.loading {
  position: relative;
  padding: 0 auto;
  width: 100%;
  text-align: center;
  color: white;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

@media screen and (max-width: 678px) {
  .burger {
    display: flex;
    right: 40px;
  }

  .logo {
    position: relative;
    left: 40px;
  }

  .nav {
    margin: 0;
    background: rgb(250, 250, 250);
    position: fixed;
    top: 70px;
    right: -250px;
    width: 250px;
    height: calc(100vh - 70px);
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    transition: all 400ms;
    z-index: 20;
  }

  .nav-active {
    right: 0;
    z-index: 20;
  }

  .navlink {
    text-align: center;
    padding: 5px;
    margin: 0;
  }

  .search_categories {
    width: 50%;
    max-width: 250px;
  }
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
@media screen and (max-width: 678px) {
  .cards {
    display: flex;
    padding: 0 auto;
    flex-direction: column;
  }

  .card {
    max-width: 300px;
    min-width: 200px;
    margin: 10px auto;
  }
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
table {
  width: 95%;
  height: 200%;
  text-align: center;
  border-collapse: collapse;
  max-width: 800px;
  margin: 20px auto;
}
table td,
table th {
  border: 3px solid #e7e7e7;
  padding: 4px 2px;
  width: 20%;
}
table tbody td {
  font-size: 14px;
}

table tbody td:first-child {
  font-size: 14px;
  font-weight: 500;
}

table thead th {
  text-align: center;
  font-size: 14px;
  background-image: radial-gradient(73% 147%, #eadfdf 59%, #ece2df 100%),
    radial-gradient(
      91% 146%,
      rgba(255, 255, 255, 0.5) 47%,
      rgba(0, 0, 0, 0.5) 100%
    );
  background-blend-mode: overlay;
  color: rgb(122, 133, 133);
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
